$small : "./../../assets/images/small/";
$medium : "./../../assets/images/medium/";
$large: "./../../assets/images/large/";

main {
    .boomerang-first-throw{
        height: 32rem;
        background: url($small + "boomerang-home-flash.jpg") no-repeat 0 0, linear-gradient(to top, #f5f5f5 50px, #0000 50px) no-repeat 9.5rem;
        display: flex;
        justify-content: right;
        align-items: center;
        padding-bottom: 5rem;
        margin-bottom: 4.5rem;
    }
    .boomerang-headline{
        background-color: #fff;
        margin-left: auto;
        height: max-content;    
        width: 65%;
        padding: 2rem;
       
        h1{
            color: #176574;
            font:2.4rem/1 "Museo Slab 700";
            margin-bottom: 2rem;
        }
        p:first-of-type{
            margin-bottom: 0.7rem;
        }
        p{
            font:1.2rem/1.2 "Museo Sans 300";
        }
    }

    .boomerang-buy-2let{
        display: flex;
        flex-direction: column;
        background: url($small + "signal-boomerang.jpg") no-repeat center bottom;
        padding-bottom: 6.5rem;
        margin-bottom: 3rem;

        .boomerang-2let-info{
            color: #176574;
            font: 1.2rem/1.4 'Museo Sans 300'; 
            text-align: center;
            padding: 0 2.5rem;

            p{
                margin-bottom: 2rem;
            }
        }
        .boomerang-2let-video {
            text-align: center;
            img {
                max-width: 26.5rem;
            }
            p{
                font: 1.1rem/1 'Museo Sans 300'; 
                padding-top: 1rem;
                margin-bottom: 2.5rem;
            }
        }
    }
    .boomerang-advantage-let{
        background: url($small + "house-bg.jpg") no-repeat center bottom;
        min-height: 36rem;

        h2{
            font:2.4rem/1 "Museo Slab 700";
            color: #fff;
            text-align: center;
            padding: 2.5rem 4.2rem 3rem 4.2rem;
        }
        .boomerang-home-slide{
            display: grid;
            border: 1px solid red;
            grid-template-columns: repeat(3, 21rem);
            column-gap: 2rem;
            justify-content: left;
            padding-left: 4rem;

            div{
                background: #fff;
            }
        }
    }
}

@media screen and (min-width:768px) and (max-width:1023px) {
    main {
        .boomerang-first-throw{
            height: 36rem;
            background:  url($medium + "boomerang-home-flash.jpg") no-repeat, linear-gradient(to top, #f5f5f5 7rem, #0000 7rem) no-repeat 13.5rem;
            justify-content: right;
            padding-bottom: 7rem;
            margin-bottom: 6rem;
        }
        .boomerang-headline{
            width: 44%;
            padding: 2rem 2rem 2rem 3rem;
            h1{
                font:3.2rem/1.2 "Museo Slab 700";
            }
            p{
                font:1.4rem/1.2 "Museo Sans 300";
            }
        }
        .boomerang-buy-2let{
            display: flex;
            flex-direction: row;
            padding-left: 3rem;
            background: url($medium + "signal-boomerang.jpg") no-repeat center bottom;
            padding-bottom: 7.5rem;
            margin-bottom: 5rem;

            .boomerang-2let-info{
                font: 1.4rem/1.8 'Museo Sans 300'; 
                p{
                    margin-bottom: 3rem;
                }
            }
            .boomerang-2let-video {
                padding: 0 4.5rem 0 3rem;
                p{
                    font: 1.1rem/1 'Museo Sans 300'; 

                }
            }
        }
        .boomerang-advantage-let{
            background: url($medium + "house-bg.jpg") no-repeat center bottom;
            min-height: 58rem;

            h2{
                font:3.2rem/1 "Museo Slab 700";
                padding: 4.5rem 0 3rem 0;
            }
        }
    }
}

@media screen and (min-width:1024px) {
     main {
        .boomerang-first-throw{
            height: 60.8rem;
            background:  url($large + "boomerang-home-flash.jpg") no-repeat, linear-gradient(to top, #f5f5f5 100%, #0000 100%) no-repeat 19.5rem;
            padding-bottom: 8rem;
            margin-bottom: 10rem;
        }

        .boomerang-headline{
            width: 35%;
            padding: 6rem;
            h1{
                font:4.2rem/1.3 "Museo Slab 700";
            }
            p{
                font:1.8rem/1.2 "Museo Sans 300";
            }
        }
        .boomerang-buy-2let{
            display: flex;
            flex-direction: row;
            padding-left: 3rem;
            background: url($large + "signal-boomerang.jpg") no-repeat center bottom;
            padding-bottom: 25rem;
            margin-bottom: 7rem;

            .boomerang-2let-info{
                font: 1.6rem/2 'Museo Sans 300'; 
                p{
                    margin-bottom: 4rem;
                }
            }
            .boomerang-2let-video {
                padding: 0 4.5rem 0 3rem;               
                img:first-of-type {
                    max-width: 450px;
                }
            }
        }
        .boomerang-advantage-let{
            background: url($large + "house-bg.jpg") no-repeat center bottom;
            min-height: 76.6rem;

            h2{
                font:4.2rem/1 "Museo Slab 700";
                padding: 6rem 0 6rem 0;
            }
        }
    }

}