$small : "./../../../../assets/images/small/";
$medium : "./../../../../assets/images/medium/";
$large: "./../../../../assets/images/large/";

.KatherineRoad .boomerang-slide-holder{
    background: url($small + "bg-KatherineRoad.jpg") no-repeat right 3rem top 27rem;
}

.boomerang-slider-katherineRoad{
   
    padding: 0 0 3rem 2.5rem;

    .project-info{
        background: #fff;
        padding: 0 2.5rem 2rem; 
        margin-bottom: 4.5rem;
        p{
            font-size: 1.2rem;
            line-height: 1.3;
            margin-bottom: 2rem;
        }
    }

    .project-data{
        background: #fff;
        padding: 2.5rem 2.5rem 2rem; 
        border-collapse: separate;
        border-spacing: 0;
        
        table {
            font:0.7rem/1 'Museo Sans 300';
            width: 100%;
            margin-bottom: 5rem;

            th,td{
                 padding: 0.5rem;
                 white-space: nowrap;
                 text-align: left;
                 border-right:1px solid #fff;
            }

            th:last-of-type,
            td:last-of-type{
                text-align: right;
            }

            thead tr {
                background: #4472c8;
                th{
                    color: #fff;
                }
            }

            tbody {
                tr:nth-child(odd){
                    background: #ccd3e9;
                }
                tr:nth-child(even){
                    background: #e8ecf5;
                }
            }
        }

        .boomerang-site-slide{
                display: flex;
                width: 100%;
                justify-content: space-between;
                align-items: center;
                
                 div.prev a,
                 div.next a {
                    text-indent: -1000rem;
                    display: inline-block;
                    width: 1.2rem;
                    height: 1.4rem;
                    cursor: pointer ;
                    vertical-align: middle;
                }

                div.prev a {
                    background: url('./../../../../assets/images/icon-prev.svg') no-repeat;
                    background-size: contain;
                }
                div.next a {
                    background: url('./../../../../assets/images/icon-next.svg') no-repeat;
                    background-size: contain;
                }
        }
    }

}


@media screen and (min-width:768px) and (max-width:1023px) {
    .KatherineRoad .boomerang-slide-holder{
        background: url($medium + "bg-KatherineRoad.jpg") no-repeat right 3rem top 27rem;
    }
    .boomerang-slider-katherineRoad{
        padding: 0 0 3rem 2.5rem;
        .project-info{
            margin-bottom: 4.5rem;
        }
        .project-slide{
            p{
                font-size: 1.4rem;
                line-height: 1.6;
                margin-bottom: 2rem;
            }
            p:last-of-type{
                margin-bottom: 0;
            }
        }

        .project-data{
            padding: 2.5rem 2.5rem 2rem; 

            table {
                font:1rem/1 'Museo Sans 300';
                margin-bottom: 7rem;
                th,td{
                    padding: 0.5rem;
                }
            }
        }

    }
}


@media screen and (min-width:1024px) {
      
    .KatherineRoad .boomerang-slide-holder{
        background: url($large + "bg-KatherineRoad.jpg") no-repeat right 3rem top 48rem;
    }

    .boomerang-slider-katherineRoad{
        padding: 0 0 3rem 0.5rem;
        .project-info{
            padding: 4rem; 
            margin-bottom: 8rem;
            p{
                font-size: 1.6rem;
                line-height: 1.6;
                margin-bottom: 3rem;
            }
        }
        .project-slide{
            p{
                font-size: 1.6rem;
                line-height: 1.8;
                margin-bottom: 3rem;
            }
            p:last-of-type{
                margin-bottom: 0;
            }
        }

        .project-data{
            padding: 2.5rem 2rem 2.5rem 6.5rem; 

            table {
                font:1.5rem/1 'Museo Sans 300';
                margin-bottom: 6.5rem;
                th,td{
                    padding: 0.75rem;
                }
            }
           
        }

    }
}