$small : "./../../assets/images/small/";
$medium : "./../../assets/images/medium/";
$large: "./../../assets/images/large/";

main.boomerang-projects{
    .boomerang-projects-flash{
        background: url($small + 'boomerang-projects-flash.jpg') no-repeat;
        height: 26.9rem;
        display: flex;
        align-items: center;
        justify-content: right;
        h1{
            font:2.4rem/2 "Museo Slab 700";
            color: #fff;
            margin-right: 1.6rem;
            margin-top: 7rem;
        }
    }
    .boomerang-projects-info{
        
        .boomerang-slide-holder{
            display: flex;
            flex-direction: column;

            .slider-column{
                padding: 0 2.5rem 3rem 5rem;
            }
        }
        .slider{
            display: flex;
            justify-content: center;
            margin-bottom: 4rem;
            a{
                text-indent: -1000rem;
                display: inline-block;
                width: 1.2rem;
                height: 1.4rem;
                cursor: pointer ;
                vertical-align: middle;
            }
            a.prev{
                background: url('./../../assets/images/icon-prev.svg') no-repeat;
                background-size: contain;
            }
            a.next{
                background: url('./../../assets/images/icon-next.svg') no-repeat;
                background-size: contain;
            }

            h2{
                font:1.6rem/0.8 "Museo Sans 700";
                margin:0 4rem;            }
        }
    }
}

@media screen and (min-width:768px) and (max-width:1023px) {
    main.boomerang-projects{
        .boomerang-projects-flash{
            background: url($medium + 'boomerang-projects-flash.jpg') no-repeat;
            height: 39.7rem;
            h1{
                font:3.2rem/1 "Museo Slab 700";
                margin-right: 7rem;
                margin-top: 7rem;
            }
        }
        .boomerang-projects-info{
            .boomerang-slide-holder{
                flex-direction: row;
                justify-content: right;

                .slider{
                    margin-top: 6rem;
                }
            }
            .slider-column{
                flex: 0 0 57.5%;
                padding: 0 2.5rem 3rem 5rem;
            }

            .slider{
            
                margin-bottom: 4rem;
                justify-content: space-between;
           
                h2{
                    font:2.2rem/0.8 "Museo Sans 700";
                    margin: 0;
                 }
            }
        }
    }
}

@media screen and (min-width:1024px) {
    main.boomerang-projects{
        .boomerang-projects-flash{
            background: url($large + 'boomerang-projects-flash.jpg') no-repeat;
            height: 49.2rem;
            h1{
                font:4.8rem/1 "Museo Slab 700";
                margin-right: 20rem;
                margin-top: 7rem;
            }
        }
        .boomerang-projects-info{
            .boomerang-slide-holder{
                padding-top: 5rem;
                flex-direction: row;
                justify-content: right;

                .slider-column{
                    flex: 0 0 47%;
                    padding: 0 12rem 2rem 18rem;
                }   

                .slider{
                    margin-top: 6rem;
                    margin-left: 5rem;
                    margin-right: 5rem;
                }
            }
            
            .slider{
            
                margin-bottom: 4rem;
                justify-content: space-between;
                padding-bottom: 2rem;

                a{
                    width: 1.9rem;
                    height: 2.2rem;
                }
           
                h2{
                    font:2.8rem/0.8 "Museo Sans 700";
                    margin: 0;
                 }
            }
        }
    }
}