@font-face {
    font-family: 'Museo Slab 700';
    src: url('MuseoSlab-700.woff2') format('woff2'),
        url('MuseoSlab-700.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Museo Slab 300';
    src: url('MuseoSlab-300.woff2') format('woff2'),
        url('MuseoSlab-300.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Trajan Pro';
    src: url('TrajanPro-Regular.woff2') format('woff2'),
        url('TrajanPro-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Museo Slab 500';
    src: url('MuseoSlab-500.woff2') format('woff2'),
        url('MuseoSlab-500.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

