$small : "./../../assets/images/small/";
$medium : "./../../assets/images/medium/";
$large: "./../../assets/images/large/";

main.boomerang-about-us {
    .boomerang-flash{
        background: url($small+'about-us-flash.jpg') no-repeat;
        min-height: 32.6rem;

        .boomerang-contact{
            padding-top: 2rem;
                h1{
                    color: #ffffff;
                    font:2.4rem/1.1 "Museo Slab 700";
                    text-align: center;
                    margin-bottom: 3rem;
                }
                form{

                    margin:0 3rem 0 3rem;
                    display: flex;
                    flex-wrap: wrap;
                    justify-content: space-between;

                    label:first-of-type{
                        flex: 1 0 80%;
                        input[type=text]{
                            border: 0;
                        }
                        
                    }
                    label{
                        flex: 0 0 45%;
                        margin-bottom: 1.5rem;
                    }

                    input[type=text]{
                        padding: 1rem 0.5rem;
                        width: 100%;   
                        box-sizing: border-box; 
                    }

                    button{
                        background: transparent;
                        border-color: #fff;
                        padding: 1rem 3.5rem;
                        color: #fff;
                        text-transform: uppercase;
                    }
                    
                }
        }
    }

    div.boomerang-details-about-us{
        margin-top: -2.5rem;
        background:  url($small+'rental.jpg') no-repeat center bottom;
        padding-bottom: 15rem;

        .details-block:first-of-type{
            padding-top: 3.5rem;
        }

        .details-block{
            padding: 1rem;
            background: #fff;
            margin:0rem 20% 0 12%;
            text-align: justify;

            h2{
                font:1.8rem/1 "Museo Slab 700";
                color: #000;
            }
            p{
                font: 1.4rem/1.2 'Museo Sans 300'; 
                padding-top: 1rem;
                margin-bottom: 2.5rem;
            }
        }
    }

    .boomerang-the-team{
        padding-top: 5rem;
        padding:0 7%;
        
        .boomerang-team{
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
             

            .boomerang-member{
                flex: 0 0 14rem;
                min-height: 14rem;
                margin-bottom: 4rem;
            }
            .boomerang-member.the-md{
                background: url($small+'tantum-managing-director.jpg');
            }
            .boomerang-member.the-crm{
                background: url($small+'tantum-relation-ship-manager.jpg');
            }
            .boomerang-member.the-pm{
                background: url($small+'tantum-project-manager.jpg');
            }
            .boomerang-member.the-fc{
                background: url($small+'tantum-finance-controller.jpg');
            }
            .boomerang-member.the-mm{
                background: url($small+'tantum-marketing-manager.jpg');
            }
            .boomerang-member.the-oa{
                background: url($small+'tantum-office-admin.jpg');
            }
            .boomerang-member.the-pd{
                background: url($small+'tantum-product-dev-manager.jpg');
            }
        }
    }
}

@media screen and (min-width:768px) and (max-width:1023px) {
    main.boomerang-about-us {
        .boomerang-flash{
            background: url($medium+'about-us-flash.jpg') no-repeat;
            .boomerang-contact{
                margin-left: 25rem;
                h1{
                    color: #ffffff;
                    font:3.2rem/1.1 "Museo Slab 700";
                    text-align: center;
                    margin-bottom: 3rem;
                }
            }
        }
        div.boomerang-details-about-us{
            background:  url($medium+'rental.jpg') no-repeat center bottom;
            padding-bottom: 20rem;
            .details-block{
                margin:0rem 13% 0 8%;
                padding: 2rem;
                p{
                    font: 1.6rem/1.2 'Museo Sans 300'; 
                }
            }
        }

        
        
    }
}

@media screen and (min-width:1024px) {
    main.boomerang-about-us {
        .boomerang-flash{
            background: url($large+'about-us-flash.jpg') no-repeat;
            min-height: 58rem;
            .boomerang-contact{
                margin-left: 60rem;
                padding-top: 8rem;

                h1{
                    color: #ffffff;
                    font:4.2rem/1.5 "Museo Slab 700";
                    text-align: center;
                    margin-bottom: 3rem;
                }
                form {
                    margin:0 14rem 0 6rem;

                    button{
                        padding: 2rem 7.5rem;
                    }
                }
            }
        }

        div.boomerang-details-about-us{
            margin-top: -5rem;
            background:  url($large+'rental.jpg') no-repeat center bottom;
            padding-bottom: 45rem;

            .details-block:first-of-type{
                padding-top: 5.5rem;
            }


            .details-block{
                margin:0rem 13% 0 8%;
                padding: 3rem;

                p{
                    font: 1.6rem/1.6 'Museo Sans 300'; 
                }
            }
        }

        
        
    }
}