$small : "./../assets/images/small/";
$medium : "./../assets/images/medium/";
$large: "./../assets/images/large/";

header{

    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    background: linear-gradient(to top, #f5f5f5 50px, #0000 50px);
    background-repeat: no-repeat;
    background-position-x: 95px;


    div.boomerang-site-logo{
        
        a{
            background: url("./../assets/images/boomerang-logo.svg") no-repeat;
            width: 7.3rem;
            height: 6.5rem;
            display: inline-block;
            background-size: contain;
            text-indent: -1000%;
            overflow: hidden;
            vertical-align: text-bottom;
        }

        span{
            font: 1.4rem/0 'Trajan Pro';
            color: #176574;
            position: relative;
            left: 1rem; top: -1rem;
        }
    }

     nav.boomerang-hand-holds{

        .menu-backscreen {
            display: inline-block;
            justify-content: right;
            margin-bottom: 1rem;
            
            .navi-holder {   
                display: flex;
                flex-direction: column;
                
                .menu{
                    background: url($small + 'icon-menu.svg') no-repeat;
                    width: 2.6rem;
                    height: 1.6rem;
                    text-indent: -1000%;
                    overflow: hidden;
                    display: inline-block;
                    margin-left: auto;
                }

                ul {
                    display: none;
                    li a{
                        color: #000;
                        font: 1.4rem/1 'Museo Slab 300';
                        text-decoration: none;
                        padding:1rem 2rem;
                        display: block;

                        &:hover {
                            background: rgba($color: #176574, $alpha: 1.0);
                            color: #fff;
                        }
                    }
                   
                }
            }

 
        }

    }


    nav.boomerang-hand-holds.active{

        .menu-backscreen {
            position: fixed;
            background: rgba($color: #000000, $alpha: 0.2);
            inset: 0 0 0 0;
            justify-content: right;
            display: flex;
            height: 100vh;
            
            .navi-holder {   
                display: flex;
                flex-direction: column;
                padding-top: 3.5rem;
                background: #fff;
                width: 40%; 
                .menu{
                    background: url($small + 'tantum-nav-close-btn.svg') no-repeat;
                    width: 2.6rem;
                    height: 1.6rem;
                    text-indent: -1000%;
                    overflow: hidden;
                    display: inline-block;
                    margin-left: auto;
                    margin-bottom: 3rem;
                    margin-right: 3rem;
                }

                ul {
                    display: block;
                    li a{
                        color: #000;
                        font: 1.4rem/1 'Museo Slab 300';
                        text-decoration: none;
                        padding:1rem 3rem;
                        display: block;

                        &:hover {
                            background: rgba($color: #176574, $alpha: 1.0);
                            color: #fff;
                        }
                    }
                   
                }
            }
            
            
        }

    }
}

@media screen and (min-width:768px) and (max-width:1023px) {
    header{
        background: linear-gradient(to top, #f5f5f5 7rem, #0000 7rem);
        background-position-x: 13.5rem;
        background-repeat: no-repeat;

        div.boomerang-site-logo{
            a{
                width: 9rem;
                height: 7.7rem;
                background-size: cover;
            }
            span{
                font: 1.6rem/0 'Trajan Pro';
                left: 1rem; top: -1.5rem;
                white-space: nowrap;
            }
        }
    }
}

@media screen and (min-width:1024px) {
    header{
        background: linear-gradient(to top, #f5f5f5 142px, #0000 142px);
        background-position-x: 195px;
        background-repeat: no-repeat;

        div.boomerang-site-logo{
            a{
                width: 14.3rem;
                height: 12.5rem;
                background-size: cover;
            }
            span{
                font: 2.4rem/0 'Trajan Pro';
                left: 2rem; top: -2rem;
                white-space: nowrap;
            }
        }
    }
    
    nav.boomerang-desk-holds{
        position: relative;
        left: 2rem; top: -2rem;
        
        ul{
            display: flex;
            padding-right: 0.5rem;

            li {
                margin-right: 2rem;
            }
            a{
                text-decoration: none;
                color: #000;
                font: 1.4rem/1 'Museo Slab 300';
                text-transform: uppercase;
                white-space: nowrap;
            }
        }
    }
}