html{
    scroll-behavior: smooth;
}

html, body{
    font: 62.5% 'Museo Slab 300',  sans-serif;
}

#root > section {
    background: #fff;
    width: 100%;
    max-width: 132.6rem;
    font-size: 1.6rem;
    margin:0 auto;
    min-height: 100vh;
    display: flex;
    flex-direction: column;

    header{
        padding: 0 3rem 4.8rem 2rem;
    }

    main{
        border:1px solid red;
        flex: auto;
    }

    footer{
        background:green;
    }
}

@media screen and (min-width:1024px) {
    #root > section {
        header{
            padding: 0 3rem 14.3rem 5rem;
        }
    }
}