html{
    scroll-behavior: smooth;
}

html, body{
    font: 62.5% 'Museo Sans 300';
    background: #fff;
}

#root > section {
    background: #fff;
    width: 100%;
    max-width: 132.6rem;
    font-size: 1.6rem;
    margin:0 auto;
    min-height: 100vh;
    display: flex;
    flex-direction: column;

    header{
        padding: 0 3rem 4.8rem 2rem;
    }

    main{
        flex: auto;
        height: 100%;
        overflow: hidden;
    }

    footer{
        background:#f5f5f5;
        clear: both;
    }
}

@media screen and (min-width:768px) and (max-width:1023px) {
    #root > section {
        header{
            padding: 0 4.5rem 7rem 4.5rem;
        }
    }
}

@media screen and (min-width:1024px) {
    #root > section {
        header{
            padding: 0 3rem 14.3rem 5rem;
        }
    }
}