@media screen and (max-width:1023px) {
    .boomerang-desk-holds{
        display: none;
    }
    .boomerang-hand-holds{
        display: block;
    }
}

@media screen and (min-width:1024px) {
    .boomerang-desk-holds{
        display: block;
    }
    .boomerang-hand-holds{
        display: none;
    }
}