@import 'reset';
@import url(./../assets/fonts/fonts.css);
@import 'layout';
@import 'media';


button {
    border: 1px solid #000;
    background: #fff;
    font:1.6rem/1 "Museo Slab 300";
    padding: 1rem 3rem;
    margin: 4rem auto;
    display: block;
    cursor: pointer;
    text-transform: uppercase;
}

@media screen and (min-width:768px) and (max-width:1023px) {
    button{
        padding: 2rem 5.5rem;
    }
}


@media screen and (min-width:1024px) {
    button{
        padding: 3rem 7.5rem;
    }
}